<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Ecommerce Grid</title>
<link rel="stylesheet" href="../styles/ecommerce-grid.css">
</head>
<body>

<div class="layout">

<header class="header">Store</header>

<aside class="filters">
<h3>Filters</h3>
<p>Category</p>
<p>Price</p>
<p>Rating</p>
</aside>

<main class="products">

<div class="card">
<img src="../images/gallery/img1.png" alt ="image 1" width ="300">
<h4>RAM</h4>
<p>$25</p>
</div>

<div class="card">
<img src="../images/gallery/img2.png" alt ="image 2" width ="300">
<h4>Keyboard</h4>
<p>$10</p>
</div>

<div class="card">
<img src="../images/gallery/img3.png" alt ="image 3" width ="300">
<h4>CPU Case</h4>
<p>$35</p>
</div>

<div class="card">
<img src="../images/gallery/img4.png" alt ="image 4" width ="300">
<h4>Gaming Chair</h4>
<p>$15</p>
</div>
</main>

</div>

</body>
</html>
